#web_bg {
    /* 背景图像的地址（url括号里）  */
    /* background-image: url("https://sigtuna.oss-cn-beijing.aliyuncs.com/backgrd_compressed.png"); */
    background: linear-gradient(to right, #ffecd2, #fcb69f, #a18cd1);
        
    background-repeat: no-repeat;
    /* 确保渐变背景覆盖整个页面 */
    background-size: cover;
  }
  
